<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bellingham.guy.anagramapp" >

    <!-- min(11) and target(22) sdk versions are set in the build.gradle file for the app -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".DisplayActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnagramActivity"
            android:label="@string/title_activity_anagram"
            android:parentActivityName=".DisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bellingham.guy.anagramapp.DisplayActivity" />
        </activity>
    </application>

</manifest>
